.autocomplete {
    margin-bottom: 60px;
    width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-left: 10px;
}

.autocomplete input {
    border-radius: 5px;
    width: 100%;
    height: 25px;
    padding-left: 5px;
}

ul {
    width: 100%;
    list-style: none;
    padding: 5px;
    border: 1px solid black;
    max-height: 200px;
    overflow-y: scroll;
}
